:root {
  --dark-blue-text: #202648;
  --light-blue-button: #36BACE;
  --white-text: #FFFFFF;
  --orange-button: #E3412A;
  --button-background: #EEEEEE;
  --green-title: #2EAE4A;
  --product-border: #EEEEEE;
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MyriadPro-300.woff2") format("woff2"), url("../fonts/MyriadPro-300.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MyriadPro-400.woff2") format("woff2"), url("../fonts/MyriadPro-400.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MyriadPro-600.woff2") format("woff2"), url("../fonts/MyriadPro-600.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/MyriadPro-700.woff2") format("woff2"), url("../fonts/MyriadPro-700.woff") format("woff");
}

@font-face {
  font-family: "Muller Trial";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Muller-Trial-700.woff2") format("woff2"), url("../fonts/Muller-Trial-700.woff") format("woff");
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}


/*sticky footer*/

.page {
  height: 100%;
  font-family: "Myriad Pro", "Arial", sans-serif;
  line-height: 120%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: var(--dark-blue-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-items: start;
}

.content-title {
  line-height: 120%;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-blue-text);
  font-weight: 700;
}

.info-button {
  color: var(--white-text);
  background-color: var(--light-blue-button);
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 25px;
}


/*header*/
.page__header {
  margin-top: 10px;
}

.wrapper {
  margin-right: 20px;
  margin-left: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-link {
  display: inline-block;
}

.logo-wrapper__title-main {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-main {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--dark-blue-text);
}

.header-nav__main-nav {
  padding-bottom: 10px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.main-nav__item {
  position: relative;
  background-color: var(--light-blue-button);
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.main-nav__link {
  color: var(--white-text);
  text-decoration: none;
  line-height: 25px;
  font-weight: 700;
}

.main-nav__dropdown-list {
  display: none;
}

.main-nav__item--open .main-nav__dropdown-list {
  display: block;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  top: 45px;
  background-color: var(--light-blue-button);
  width: 100%;
}

.main-nav__dropdown-item {
  border-top: 1px solid var(--white-text);
  border-bottom: 1px solid var(--white-text);
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-nav__dropdown-link {
  color: var(--white-text);
  text-decoration: none;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
}

.header-nav__search {
  margin-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-search__label {
  display: flex;
  border: 1px solid rgba(54, 186, 206, 0.5);
  border-radius: 5px;
  align-items: center;
  min-height: 45px;
  box-sizing: border-box;
}

.form-search__icon {
  width: 20px;
  height: 20px;
  margin-left: 25px;
  margin-right: 10px;
}

.form-search__input {
  font-family: "Myriad Pro", "Arial", sans-serif;
  border: none;
  font-size: 16px;
  line-height: 25px;
  outline: none;
  width: 100%;
  color: var(--dark-blue-text);
}

.form-search__input::-webkit-search-cancel-button {
  background-color: red;
}

.select-list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.form-search__select-item {
  background-color: var(--white-text);
  border: 1px solid var(--light-blue-button);
  border-radius: 5px;
  margin-top: 2px;
}

.form-search__select-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  padding: 10px;
  display: inline-block;
}

.form-search__reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: hsla(0, 0%, 100%, 0);
  color: var(--dark-blue-text);
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  height: 45px;
  padding: 0;
  cursor: pointer;
}


.header-nav__user-menu {
  margin-top: 10px;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.user-menu__buttons {
  display: flex;
  gap: 10px;
}

.user-menu__account-button {
  color: var(--white-text);
  background-color: var(--orange-button);
  font-size: 14px;
  line-height: 25px;
  font-weight: 700;
  border-radius: 5px;
  height: 50px;
  display: flex;
  text-decoration: none;
  min-width: calc(100% - 140px);
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.icon-button {
  width: 50px;
  height: 50px;
  background-color: var(--button-background);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
}


.icon-button__count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  background-color: var(--light-blue-button);
  border-radius: 50%;
  color: var(--white-text);
  font-size: 10px;
  line-height: 22px;
  position: absolute;
  top: -4px;
  left: -4px;
}


/*768 tablet*/

/*1200 desktop*/

/*main*/

.main__banner {
  margin-top: 25px;
}

.banner__images-container {
  background-image: url(../img/bg-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*min-height: 180px;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
}

.banner__picture {
  align-self: end;
}

.banner__product-image {
  max-width: 100%;
  padding-bottom: 10px;
  mix-blend-mode: darken;
}

.banner__title {
  color: var(--green-title);
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 5px;
}

.banner__title--category {
  color: var(--dark-blue-text);
  font-size: 18px;
  line-height: 120%;
}

.banner__subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  margin-left: 5px;
}


.banner__button {
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*recommendations*/

.recommendations {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 378px));
  justify-content: space-around;
  gap: 10px;
}

.main__recommendations {
  margin-top: 25px;
}

.product {
  border-radius: 10px;
  background-color: var(--white-text);
}

.recommendations__product--regular {
  border: 1px solid var(--light-blue-button);
}

.recommendations__product--popular {
  border: 1px solid var(--light-blue-button);
}
/*????????*/

.recommendations__product--new {
  border: 1px solid var(--orange-button);
}

.product__link {
  text-decoration: none;
  color: var(--dark-blue-text);
  display: block;
}

.product__picture {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: calc((130 / 130) * 100%);
  /*margin-right: 15px;*/
  /*margin-left: 15px;*/
  /*margin-top: 15px;*/
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.product__image {
  height: 100%;
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  max-width: 100%;
}

.product__image--border {
  border: 1px solid var(--product-border);
  border-radius: 5px;
}

.product__picture--popular .product__label {
  fill: var(--light-blue-button);
  bottom: -17px;
  right: -2px;
}

.product__picture--new .product__label {
  fill: var(--orange-button);
  bottom: -16px;
  right: 0;
}

.product__label {
  position: absolute;
}

.product__label-text {
  position: absolute;
  bottom: 0;
  right: 13px;
  z-index: 3;
  color: var(--white-text);
  text-transform: uppercase;
  font-size: 14px;
}


.product__text {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 120%;
  font-weight: 600;
}

  /*catalog*/

.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  grid-area: title;
  color: var(--dark-blue-text);
}

.catalog__products {
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/
  grid-template-columns: repeat(2, minmax(min-content, 378px));
  gap: 10px;
  justify-content: space-around;
  margin-bottom: 20px;
}

.product--shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--product-border);
}

.catalog__button {
  align-items: center;
  gap: 10px;
}

  /*features*/
.main__features {
  margin-top: 20px;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.feature {
  display: flex;
  gap: 15px;
  align-items: center;
}

.feature__bg {
  background-color: var(--product-border);
  border-radius: 5px;
}

.feature__icon {
  padding: 15px;
  display: flex;
}

.features__text {
  font-size: 16px;
  line-height: 120%;
  color: var(--dark-blue-text);
  font-weight: 600;
}

  /*popular*/

.popular__title {
  margin: 30px 0;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-blue-text);
}

.popular__products {
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/
  /*grid-template-columns: repeat(auto-fill, minmax(min-content, 368px));*/
  grid-template-columns: repeat(2, minmax(min-content, 378px));
  justify-content: space-around;
  gap: 10px;
}

.popular__product {

}

.product__vendor-code {
  font-weight: 300;
  font-size: 14px;
}

.product__rate {
  margin-left: 10px;
}

.product__price {
  color: var(--orange-button);
  margin-right: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.product__description {
  color: var(--dark-blue-text);
  font-size: 12px;
  line-height: 14px;
  margin-right: 10px;
  margin-left: 10px;
}

.product__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__button-favorite {
  background-color: var(--product-border);
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.product__button-cart {
  border-radius: 0 0 5px 5px;
  width: 100%;
}

  /*about*/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.about__title {
  margin: 30px 0;
}

.about__text {
  color: var(--dark-blue-text);
  text-align: justify;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.about__button {
  margin-top: 10px;
  text-decoration: none;
}

  /*faq*/
.faq__title {
  margin: 30px 0;
}

.question {
  border: 1px solid var(--light-blue-button);
  border-radius: 5px;
  padding: 20px 10px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.question__title {
  list-style: none;
  text-align: center;
  color: var(--dark-blue-text);
  line-height: 140%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question__title::after {
  content: url("../img/chevron-accordion.svg");
  display: block;
  text-align: center;
}

.question[open] .question__title::after {
  transform: rotate(180deg);
}

.question__text {
  font-size: 16px;
  text-align: justify;
}

  /*feedback*/


.feedback__text {
  font-size: 16px;
  line-height: 140%;
  color: var(--dark-blue-text);
}

.feedback__phone {
  font-weight: 600;
  text-decoration: none;
  color: var(--dark-blue-text)
}

.contact-form {
  padding-bottom: 10px;
  display: grid;
}

.contact-form__label {
  color: var(--dark-blue-text);
  font-size: 12px;
}

.contact-form__input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 18px 12px;
  box-sizing: border-box;
  border: 1px solid var(--light-blue-button);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "Myriad Pro", "Arial", sans-serif;
  font-size: 16px;
  color: var(--dark-blue-text);
}


.contact-form__button {
  margin-top: 20px;
  width: 100%;
}


.contact-form__text {
  color: var(--dark-blue-text);
  font-size: 12px;
  line-height: 140%;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}


  /*footer*/

.page__footer {
  margin-top: 20px;
}

.footer {
  background-color: var(--dark-blue-text);
  color: var(--white-text);
}

.info__call-button {
  margin: 0;
  width: 100%;
  border-radius: 0;
}

.info__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__copyright {
  font-size: 16px;
  line-height: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.info__payments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__payment-icon {
  display: block;
}

.info__payment-icon:last-child {
  margin-right: 0;
}

.footer-nav__section {
  padding-top: 20px;
}

.footer-nav__title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.footer-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  /*margin: 0;*/
}

.footer-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav__item {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.footer-nav__link {
  color: var(--white-text);
  text-decoration: none;
  font-size: 14px;
  line-height: 140%;
  display: block;
  padding-top: 5px;
}

.footer__contacts {
  padding-top: 20px;
}

.contacts__title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.contacts__list {
  list-style: none;
  margin: 0;
  padding: 10px 0 20px 0;
}

.contacts__list--row {
  display: flex;
  /*justify-content: space-between;*/
  gap: 20px;
}

.contacts__item {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
  line-height: 140%;
  font-size: 14px;
}

.contact__background {
  background-color: var(--button-background);
  padding: 10px;
  border-radius: 5px;
}

.contact__icon {
  display: flex;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer__separator {
  margin: 10px 0;
}

.footer__text {
  font-size: 12px;
  line-height: 25px;
  margin: 20px 0 0 0;
}

.footer__text:last-child {
  margin-bottom: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__link {
  background-color: var(--product-border);
  padding: 10px;
  border-radius: 5px;
}

.footer__logo-link {
  display: none;
}



@media screen and (min-width: 590px) {
  /*.*/

  .wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }

  .banner__title {
    font-size: 28px;
    line-height: 120%;
    margin-left: 20px;
  }

  .banner__title--category {
    font-size: 30px;
    line-height: 120%;
  }

  .banner__subtitle {
    font-size: 16px;
    margin-left: 20px;
  }

  .banner__button {
    margin-left: 20px;
  }

  .info-button {
    font-size: 16px;
    display: inline-flex;
    padding: 15px 65px;

  }

  .recommendations {
    grid-template-columns: repeat(4, minmax(130px, 378px));
  }

  .catalog {
    /*display: block;*/
  }

  .catalog__products {
    grid-template-columns: repeat(4, minmax(130px, 378px));
  }

  .catalog__button {
    align-self: center;
    width: max-content;
  }

  .catalog__button__icon {
    width: 20px;
    height: 20px;
  }

  .popular__products {
    grid-template-columns: repeat(4, minmax(130px, 378px));
  }

  .product__button-cart {
    padding-right: 20px;
    padding-left: 20px;
  }

  .features {
    flex-direction: row;
    border: 1px solid var(--button-background);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    padding-top: 30px;
  }

  .feature {
    flex-direction: column;
    gap: 0;
  }

  .features__text {
    text-align: center;
  }

  .about__button {
    width: max-content;
  }

  .question {
    padding: 20px 10px;
  }

  .question__title {
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-form {
    grid-template-columns: 2fr 2fr 1fr;
    gap: 10px;
    align-items: end;
  }

  .contact-form__input {
    margin-bottom: 0;
  }

  .contact-form__button {
    width: max-content;
    height: max-content;
  }

  .contact-form__text {
    grid-column: span 3;
  }

  .info__call-button {
    border-radius: 5px;
    width: max-content;
  }

  .footer__info {
    margin: 10px auto;
  }


}

@media screen and (min-width: 768px) {

  .contacts__title {
    text-align: left;
  }

  .contacts__list {
    padding-bottom: 10px;
    padding-top: 0;
  }

  .contacts__list--row {
    padding-top: 10px;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .footer-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 678px;
  }

  .footer-nav__list {
    padding-top: 10px;
  }

  .footer-nav__item {
    justify-content: left;
    margin-top: 0;
  }

  .footer-nav__link {
    line-height: 140%;
    font-size: 18px;
    font-weight: 400;
  }

  .footer-nav__title {
    text-align: left;
    font-size: 18px;
    line-height: 140%;
    font-weight: 700;
  }

  .contacts__text {
    font-size: 18px;
    line-height: 22px;
  }

  /*.contacts__item {*/
  /*  padding-top: 10px;*/
  /*}*/

  .feedback {
    background-color: var(--button-background);
    border-radius: 10px;
  }

  .footer__wrapper {
    margin-top: 30px;
    border-bottom: 1px solid var(--white-text);
    padding-bottom: 30px;
  }

  .footer__logo-link {
    display: block;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .info__details {
    align-items: start;
  }

  .info__copyright {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 140%;
  }

  .info__payments {
    gap: 10px;
  }

  .info__call-button {
    border-radius: 5px;
    width: max-content;
  }

  .footer__text {
    font-size: 14px;
    line-height: 140%;
    margin-top: 0;
  }

  .footer__text:first-child {
    margin-top: 30px;
  }

/*  */

  .product {
    display: flex;
    justify-content: space-between;
  }

  .product__picture {
    position: relative;
    display: block;
    padding-bottom: 0;
    order: 2;
    margin: 0;
  }

  .product__link {
    max-width: min-content;
  }

  .product__text {
    margin-left: 25px;
    font-size: 20px;
    line-height: 120%;
  }

  .product__image {
    height: auto;
    position: relative;
    width: 100%;
    display: block;
    order: 1;
    border-radius: 10px;
  }

  .product__label-text {
    bottom: 46px;
  }

  .product__picture--popular .product__label {
    bottom: 30px;
  }
}
